.btn {
    border: 7px solid rgb(255, 192, 145);
    border-radius: 50px;
    background-color: white;
    color: rgb(255, 192, 130);
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 5px;
}

header button:hover {
    border: 7px solid rgb(255, 192, 130);
    background-color: rgb(255, 243, 200);
}

header button:active {
    background-color: rgb(255, 250, 200);
}

header button:focus {
    outline: none;
}

.flex-container {
    display: flex;
    justify-content: center;
}

header img {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.divInfo {
    height: 5em;
    max-width: 65.85em;
    background: rgb(255, 203, 157);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    overflow: hidden;
    position: sticky;
    z-index: 16;
    top: 0;
}

.divPadding {
    margin-top: -0.35em;
}

.cursor_pointer {
    cursor: pointer;
}

.scroll_to_top {
    position: fixed;
    bottom: 12px;
    left: 55%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgb(255, 203, 157);
    color: rgb(250, 155, 97);
    font-weight: 800;
    z-index: 1;
}

.scroll_to_top:hover {
    width: 70px;
    height: 70px;
    font-size: 1em;
    color: rgb(250, 132, 53);
}

.btnInput {
    border: 4px solid rgb(255, 192, 145);
    border-radius: 50px;
    background-color: white;
    padding: 3px;
}
.btnInput:hover,
.btnInput:active,
.btnInput:focus,
.btnInput1:hover,
.btnInput1:active,
.btnInput1:focus{
    outline: none;
    border: 4px solid rgb(67, 185, 124);
}

.btnInput1 {
    border: 4px solid rgb(255, 192, 145);
    border-radius: 50px;
    background-color: white;
    padding: 3px;
    margin-left: 2em;
}

.btnAdd {
    border: 7px solid rgb(255, 192, 145);
    border-radius: 50px;
    background-image: linear-gradient(rgb(255, 250, 200), rgb(67, 185, 124), rgb(255, 250, 200));
    color: rgb(255, 192, 130);
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 3px;
    position: absolute;
    margin-top:-1px;
}
.btnAdd:hover,
.btnAdd:active,
.btnAdd:focus,
.btnAdd1:hover,
.btnAdd1:active,
.btnAdd1:focus{
    outline: none;
    border: 6px solid rgb(67, 185, 124);
}

.btnAdd1 {
    border: 7px solid rgb(255, 192, 145);
    border-radius: 50px;            /* Rounded borders */
    background-image: linear-gradient(rgb(255, 250, 200), rgb(67, 185, 124), rgb(255, 250, 200));
    color: rgb(255, 192, 130);
    font-weight: 800;
    letter-spacing: 1.5px;
    padding: 3px;
    position: absolute;
    margin-top: 0.9em;
}

.gradient_text {
    font-size: 1.7em;
    background: linear-gradient(45deg, rgb(67, 185, 124) 25%, rgb(67, 150, 104) 40%, yellowgreen, darkorange, rgb(67, 185, 124));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2.7;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}

.gradient_text1 {
    background: linear-gradient(45deg, rgb(67, 185, 124) 25%, rgb(67, 150, 104) 40%, yellowgreen, darkorange, rgb(67, 185, 124));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.5em;   /*font-size: 2.38em;*/
    line-height: 1.5em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.loading {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 1.8em;
    background: linear-gradient(15deg, rgb(67, 185, 124) 25%,  rgb(67, 185, 124), darkorange, rgb(67, 150, 104) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2.7;
    text-align: center;
    letter-spacing: 7px;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    padding-left: 3.5em;
}
