.no_frame {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(67, 170, 124);
    outline: none;
    width: 70%;
    background-color: lightyellow;
}

.no_frame1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(67, 170, 124);
    outline: none;
    width: 90%;
    margin-left: 6em;
    background-color: lightyellow;
}

.label {
     padding-right: 0.5em;
     margin-top: 1em;
     width: 30%;
     text-align: left;
     font-weight: bold;
     color: rgb(250, 132, 53);
     text-shadow: 0.2em 0.1em 0.3em rgb(255, 192, 130);
 }

.label1 {
    padding-right: 0.5em;
    padding-left: 0.45em;
    margin-top: 1.5em;
    width: 30%;
    text-align: left;
    font-weight: bold;
    color: rgb(250, 132, 53);
    text-shadow: 0.2em 0.1em 0.3em rgb(255, 192, 130);
}

.sex {
    margin-left: 31%;
    margin-right: 0.2em;
}

form > p {
    cursor: pointer;
    color: rgb(67, 170, 124);
}

::-webkit-input-placeholder {
    opacity: 0.6;
}

input:focus::-webkit-input-placeholder {
    opacity: 0.2;
    transition: opacity 1s ease;
}

input[placeholder] {
    text-overflow: ellipsis;
}

.heightForgot{
    height: 6em;
    color: rgb(67, 170, 124);
    cursor: pointer;
    float: left;
}

.btn_forgot:hover {
    font-size: 125%;
}

.p_modal {
    text-align: left;
    color: darkgray;
    text-shadow: none;
    font-size: 0.6em;
}

.message {
    background-color: lightyellow;
    font-size: 0.7em;
}

.requiredFields {
    color: rgb(67, 170, 124);
    font-size: 1.1em;
    text-shadow: 0.1em 0.1em 0.2em rgb(67, 170, 124);
}

.footnote {
    color: red;
    font-size: 2em;
}

.legendCard {
    color: rgb(67, 170, 124);
    font-size: 2.35em;
    text-shadow: 0.1em 0.1em 0.2em lightyellow;
    text-align: center;
    height: 2.1em;
    background: rgb(255, 203, 157);
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: -0.1em;
    margin-left: 0;
    padding-top: 0.4em;
    overflow: hidden;
}
.legendCardFix {
    color: rgb(67, 170, 124);
    font-size: 2.35em;
    text-shadow: 0.1em 0.1em 0.2em lightyellow;
    text-align: center;
    height: 2.1em;
    background: rgb(255, 203, 157);
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: -0.1em;
    margin-left: 0;
    padding-top: 0.4em;
    overflow: hidden;
    max-width: 65.85em;
    opacity: 1;
    position: sticky;
    z-index: 16;
    top: 0;
}

.divCard {
    overflow: hidden;
    border: 3px outset rgb(255, 192, 130);
    background-color: lightyellow;
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    margin-top: 4px;
    padding-right: 1em;
    word-break:break-all;
}
.divCard1 {
    overflow: hidden;
    border: 3px outset rgb(255, 192, 130);
    background-color: lightyellow;
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    margin-top: 4px;
    padding-right: 1em;
}

.publish {
    background-color: rgb(67, 170, 124);
    font-size: 1.5em;
    color: rgb(255, 203, 157);
    font-weight: bold;
    border: 3px solid rgb(67, 150, 124);
    border-radius: 50px;
    float: right;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}
.publish:hover,
.publish:active,
.publish:focus,
.cancel:hover,
.cancel:active,
.cancel:focus {
    outline: none;
}

.cancel {
    background-color: lightgray;
    font-size: 1.5em;
    font-weight: 600;
    border: 3px solid gray;
    border-radius: 50px;
    float: right;
    color: gray;
    margin-right: 0.5em;
    margin-top: -0.5em;
}

.labelLostFound {
    font-weight: bold;
    color: red;
    font-size: 1.5em;
    margin-bottom: 0.8em;
    margin-left: 5em;
    display: table;
    text-shadow: 0.1em 0.1em 0.2em rgb(67, 170, 124);
}

.published {
    margin-top: 5em;
    font-weight: bold;
    color:  rgb(67, 170, 124);
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 192, 130);
    letter-spacing: 5px;
}

.publishedOk {
    display: block;
    margin: 0 auto;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 192, 130);
}