.mainPage {
    background-color: rgb(255, 243, 200);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: bold;
    color: rgb(67, 170, 124);
}

/*.home{
    background-color: lightseagreen;
    height: 4.5em;
}*/

.homeImg {
   /* margin-right: 1.5em;*/
   /* margin-right: 1.6em;*/
    width: 4em;
}

.divHeight {
   /* height: 4em;*/
    height: 5em;
    padding-top: 0.2em;
    background-color: rgb(255, 203, 157);
  /*  width: 22em;*/
    width: 21.5em;
   /* margin-left: 0.85em;*/
}

.topImg {
    background: rgb(255, 203, 157);
   /* box-shadow: 0 3px 6px #00000029;*/
    opacity: 1;
   /* height: 2em;*/
}

.link, .linkService {
    background-color: rgb(255, 243, 200);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: bold;
    color: rgb(67, 170, 124);
}
.link:hover, .linkService:hover {
    background-color: rgb(67, 170, 124);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: 700;
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}
.link:active, .linkService:active {
    background-color: rgb(67, 185, 124);
    border: 2px solid rgb(255, 203, 157);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: 700;
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}
.link:focus {
    outline: none;                                         /*убирает черную рамку вокруг кнопки*/
    background-color: rgb(67, 185, 124);        /*цвет кнопки после нажатия не изменяется*/
    border: 2px solid rgb(67, 150, 124);
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}
.linkService:focus {
    outline: none;                                         /*убирает черную рамку вокруг кнопки*/
    border: 2px solid rgb(67, 150, 124);
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}

.link1 {
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-size: 1.1em;
    background: linear-gradient(45deg, darkorange 38%, rgb(67, 170, 124) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link1:hover {
    font-family: 'Krona One', sans-serif;
}

/*.service {
    background-color: rgb(255, 243, 200);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    color: rgb(67, 170, 124);
    font-weight: bold;
}*/

.serviceOptionsImg {
    /*background-color: rgb(255, 227, 180);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;*/
    float: left;
    margin-right: 1.5em;
    width: 4em;
}
.serviceOptionsTxt {
    float: left;
    margin-top: 1em;
}

.serviceLink {
    background-color: rgb(255, 227, 180);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    font-weight: bold;
    color: rgb(250, 155, 97);
}
.serviceLink:hover {
    background-color: rgb(67, 170, 124);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: 700;
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}
.serviceLink:active {
    background-color: rgb(67, 185, 124);
    border: 2px solid rgb(255, 203, 157);
    box-shadow: 0 3px 6px rgb(255, 203, 157);
    opacity: 1;
    font-weight: 700;
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}
.serviceLink:focus {
    outline: none;                                         /*убирает черную рамку вокруг кнопки*/
    background-color: rgb(67, 185, 124);        /*цвет кнопки после нажатия не изменяется*/
    border: 2px solid rgb(67, 150, 124);
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}

.outImg {
    color: rgb(250, 155, 97);
    font-size: 4em;
}

.outTxt {
    color: rgb(250, 155, 97);
  /*  margin-left: 1.4em;*/
    text-shadow: 1px 1px 4px lightgoldenrodyellow;
    letter-spacing: 3.5px;
}

.cursor {
    cursor: pointer;
}

.cursor:hover,
.cursor:active,
.cursor:focus {
    background-color: rgb(255, 203, 157);
}

.avatar {
    margin-right: 1em;
    width: 3.8em;
    border-radius: 50%;
}

.fixation {
    position: fixed;
 /*   z-index: 999;*/
  }