body {
    background: white;
}

.content {
    max-width: 1440px;
    margin: auto;
}

header {
    top: 0;
    left: 0;
    height: 70px;
    background: rgb(255, 203, 157);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

footer {
    top: 0;
    left: 0;
    height: 295px;
    background: rgb(255, 203, 157);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.start-modal .modal-content {
    color: rgb(250, 155, 97);
    font-weight: 700;
    text-shadow: 0.2em 0.1em 0.3em rgb(250, 155, 97);
    text-align: center;
}

.modal-header, .modal-footer {
    background-color: rgb(255, 243, 200);
}

.submit {
    background-color: rgb(67, 170, 124);
    border: 1px solid rgb(67, 150, 124);
    color: white;
}
.submit:hover,
.submit:active,
.submit:focus {
    background-color: rgb(67, 185, 124) !important;
    border: 1px solid rgb(67, 185, 124) !important;
}

.modal-authorization {
    margin-top: 0;
    margin-left: -1.5em;
    margin-right: -0.1em;
}

.btn-authorization:hover {
    background-color: rgb(255, 136, 100);
    border: 2px solid rgb(255, 136, 100);
}

.btn-authorization:active {
    background-color: rgb(67, 170, 124);
    border: 2px solid rgb(67, 150, 124);
}

.btn-authorization:focus {
    outline: none;                                         /*убирает черную рамку вокруг кнопки*/
    background-color: rgb(67, 170, 124) !important;        /*цвет кнопки после нажатия не изменяется*/
    border: 2px solid rgb(67, 150, 124);
}

.row-authorization {
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-movement {
    border: 2px solid rgb(255, 136, 100);
    position: relative;
    overflow: hidden;
    background: rgb(250, 155, 97);
    transition: box-shadow 0.3s, transform 0.3s;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: 0.2em 0.1em 0.3em lightgray;
    width: 110%;
    padding: 0.3em;
}
.btn-movement:hover,
.btn-movement:active,
.btn-movement:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
}
.btn-movement:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.btn-movement:hover:before,
.btn-movement:active:before,
.btn-movement:focus:before {
    left: 100%;
}

/*particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}*/

.btn_animation:hover, .btn_animation:focus {
    -webkit-animation: pulse 1.6s linear infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.text-typing
{
    width: 40em;
    color:green;
    font-size: 22px;
    font-family: 'Courier', cursive;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.pills {
    background-color: pink;
}

/*.normal{
    border: 2px solid red;
}*/
/*
.active{
    color: red;
}*/

/*div#navDivId .component{
    background-color: red;
}*/

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgb(67, 185, 124);
    border: 2px solid rgb(67, 150, 124);
    color: rgb(255, 203, 157);
    font-family: 'Krona One', sans-serif;
}

/*
.cursor-pointer {
    cursor: pointer;
}

.scroll-to-top {
    position: fixed;
    bottom: 12px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(67, 185, 124);
    color: orange;
    z-index: 1;
}

.scroll-to-top .icon {
    margin-top: 10px;
    animation: 0.5s alternate ease infinite pulse;
}


@keyframes pulse {
    0% {
        color: #001F3F;
    }
    100% {
       color: #FF4136;
    }
}

@keyframes scrollTop {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}
*/

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    /*background-image: linear-gradient(rgb(67, 170, 124), yellow);*/
    background-image: linear-gradient(rgb(255, 203, 157), rgb(255, 250, 200), rgb(67, 185, 124));
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(255, 192, 145), rgb(255, 243, 200), rgb(67, 170, 124));
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*div.inline {
    float: left;
}
.clearBoth {
    clear: both;
}*/

/*
.carousel-control-next-icon {
    margin-left: 1em;
}

.carousel-control-prev-icon {
    margin-left: -1em;
}*/
